<h3><a class="btn btn-secondary" href="/soccer"><i class="fa fa-plus"></i> Create New</a> Player List</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Games Played</th>
            <th>Goals</th>
            <th>Assists</th>
            <th>Shots</th>
            <th>Yellow Cards</th>
            <th>Red Cards</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.gamesPlayed}}</td>
            <td>{{this.goals}}</td>
            <td>{{this.assists}}</td>
            <td>{{this.shots}}</td>
            <td>{{this.yellowCards}}</td>
            <td>{{this.redCards}}</td>
            <td>
                <a href="/soccer/{{this._id}}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                <a href="/soccer/delete/{{this._id}}" onclick="return confirm('Are you sure to delete this record ?');"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>